@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;800&display=swap');

body {
  background-color: #111;
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 500px;
  padding: 40px;
  border: 1px solid #333;
  border-radius: 20px;
  background-color: #1a1a1a;
}

.title {
  font-size: 48px;
  margin: 0;
  letter-spacing: -2px;
}

.subtitle {
  color: #888;
  margin-bottom: 40px;
}

.action-area {
  margin-bottom: 30px;
}

md-filled-button {
  /* Colors */
  --md-sys-color-primary: #fff;
  --md-sys-color-on-primary: #000;
  
  /* Fonts */
  --md-sys-typescale-label-large-font: 'Inter', sans-serif;
  font-family: 'Inter', sans-serif;
  
  width: 200px;
}

.console {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  min-height: 60px;
  border: 1px solid #333;
}

.code-text {
  font-family: 'Fira Code', monospace;
  color: #00ff99;
  font-size: 14px;
}